<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg left-container">
			<h1 class="logo-left hidden-xs margin-bottom-60">Unot</h1>
			<div class="tm-left-inner-container">
				<ul class="nav nav-stacked common-nav">
				  <li><a href="__MODULE__/Index/index"><i class="iconfont icon-yonghu"></i>Home</a></li>
				  <li><a href="__MODULE__/Sign/index"><i class="iconfont icon-denglu"></i>Sign Up</a></li>
				  <li><a href="__MODULE__/Personal/index"><i class="iconfont icon-gerenxinxi"></i>Personal</a></li>
				  <li><a href="__MODULE__/Contact/index"><i class="iconfont icon-lianxi"></i>Contact</a></li>
				</ul>
			</div>
		</div>